# no .a files and .exe files
*.a
*.exe
*.obj
*.opensdf
*.sdf
*.suo
*.tlog
*.pdb
*.cache
*.manifest
*.unsuccessfulbuild
*.log
*.opendb
*.db
*.vcproj
.idea/
*.csv
*.w3x
data/mapcfgs/blizzard.j
data/mapcfgs/common.j

/ipch/
/build/
/build_debug/
/build_release/
build_vcpkg/
build_conan/
depends/
cmake-build-*/
googletest/
war3_126a/
wc3_1285/
war3/
data/replays/
data/logs/
data/tmpreplays/
data/gamelogs/
data/lobbylogs/
data/public/
mnt/
slave_cfgs/s01.cfg
slave_cfgs/s02.cfg
slave_cfgs/s03.cfg
