name: build

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  debian-trixie:
    if: true
    runs-on: ubuntu-latest
    container:
      image: debian:trixie

    steps:
      - uses: actions/checkout@v4

      - name: Add xpam repo
        run: |
          apt-get update && apt-get install -y curl gnupg git
          curl -fsSL https://repo.xpam.pl/repository/repokeys/public/debian-trixie-xpam.asc | tee /etc/apt/keyrings/debian-trixie-xpam.asc
          echo "Types: deb
          URIs: https://repo.xpam.pl/repository/debian-trixie-xpam/
          Suites: trixie
          Components: main
          Signed-By: /etc/apt/keyrings/debian-trixie-xpam.asc" | tee /etc/apt/sources.list.d/xpam.sources > /dev/null

      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y \
            cmake build-essential libmariadb-dev-compat \
            libboost-filesystem1.83-dev libboost-system1.83-dev libboost-chrono1.83-dev \
            libboost-thread1.83-dev libboost-date-time1.83-dev libboost-regex1.83-dev \
            libstorm-dev bncsutil

      - name: Cmake
        run: cmake -B ./build -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        run: cmake --build ./build --config Release

  docker-build:
    if: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build manager image
        run: docker build --platform linux/amd64 --tag pd-manager --file ./Dockerfile.manager .

      - name: Build slave image
        run: docker build --platform linux/amd64 --tag pd-slave --file ./Dockerfile.slave .

  windows-latest:
    if: true
    runs-on: windows-latest
    strategy:
      matrix:
        deptool: [ conan, vcpkg ]

    steps:
      - uses: actions/checkout@v4

      - uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: Install Conan
        if: ${{ matrix.deptool == 'conan' }}
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true

      - name: Cmake conan
        if: ${{ matrix.deptool == 'conan' }}
        run: |
          conan install . -of build_conan -s build_type=Release -s compiler.cppstd=20 -o *:shared=True --build=missing
          cmake --preset conan
          cmake --build build_conan --config Release

      - name: Export GitHub Actions cache environment variables for vcpkg
        if: ${{ matrix.deptool == 'vcpkg' }}
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Cmake vcpkg
        if: ${{ matrix.deptool == 'vcpkg' }}
        env:
          VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
        run: |
          cmake --preset vcpkg
          cmake --build build_vcpkg --config Release
